.input-default{
    height: 40px;
    border-radius: var(--border-radius-1);
    padding-left: 15px;
    border: 2px solid var(--color-primary);
    /* border: 1px solid var(--color-grey-1) */
}
.input-default:hover{
    border: 2px solid var(--color-primary);
}

.input-1{
    margin: 20px 0 20px 0;
    width: 265px;
    height: 25px;
    border-radius: var(--border-radius-1);
    padding-left: 15px;
    border: 2px solid var(--color-primary);
    /* border: 1px solid var(--color-grey-1) */
}